psd
slicing/node_modules

slicing/app/bower
slicing/dist
slicing/.sass-cache

# files
.DS_Store
Thumbs.db
*.sql
.gitignore
/.idea/

# core
www/upload/*
www/bitrix/activities/
www/bitrix/admin/
www/bitrix/backup/
www/bitrix/click.php
www/bitrix/components/bitrix/
www/bitrix/coupon_activation.php
www/bitrix/footer.php
www/bitrix/gadgets/
www/bitrix/header.php
www/bitrix/image_uploader/
www/bitrix/images/
www/bitrix/index.php
www/bitrix/js/
www/bitrix/license_key.php
www/bitrix/modules/
www/bitrix/otp/
www/bitrix/p3p.xml
www/bitrix/redirect.php
www/bitrix/rk.php
www/bitrix/rss.php
www/bitrix/sounds/
www/bitrix/spread.php
www/bitrix/stop_redirect.php
www/bitrix/template/
www/bitrix/themes/
www/bitrix/tmp/
www/bitrix/tools/
www/bitrix/urlrewrite.php
www/bitrix/virtual_file_system.php
www/bitrix/web.config
www/bitrix/wizards/

www/bitrix/php_interface/dbconn.php

www/bitrix/cache/
www/bitrix/managed_cache/